.confirmar-box {

  background: white;
  padding: 1rem;
  border-radius: 10px;
  max-width: 50%;
  width: 90%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);

}

.confirmar-buttons {
     display: flex;
     gap: 1rem;
     justify-content: end;
}