.table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.table-header, .table-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 12px;
  border-bottom: 1px solid #ccc;
}

.table-header {
  font-weight: bold;
  background-color: #f4f4f4;
}

.table-row:hover {
  background-color: #f9f9f9;
}

.modal-overlay {
  position: fixed;
  background-color: red;
  background: rgba(0, 0, 0, 0.836);
  z-index:1000;
  inset: 0;
  display: flex;
  justify-content: center;
}